/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');

*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.index{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(img/fondo.jpg); /* para oscurecer la imagen */
    background-size: cover; /* la imagen cubre todo el contenedor */
    background-position: center center; /* centra la imagen vertical y horizontalmente */
    color: #fff;
}

.index .content-section{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.index .content-section header{
    padding: 30px;
}

.index .content-section header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.index .content-section header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.index .content-section header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 25px #fff;
}

.index .content-section header .logo .color{
    color: #940253;
    font-family: "Yellowtail";
}

.index .content-section header .nav-bar{
    position: fixed;
    background-color: #940253;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}

.index .content-section header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}

.index .content-section .info{
    padding-bottom: 130px;
}

.index .content-section .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}

.index .content-section .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.index .content-section .info .networks a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.index .content-section .info .networks a:hover{
    box-shadow: 0 0 20px #fff;
}

.index .content-section .photo{
    position: relative;
}

.index .content-section .photo img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #940253;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%);
}