/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yellowtail&display=swap');

*{
    font-family: "Titillium Web";
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.index{
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    color: #fff;
}

.index .content-section{
    max-width: 1000px;
    margin: auto;
    text-align: center;
    padding: 0 10px;
}

.index .content-section header{
    padding: 30px;
}

.index .content-section header nav{
    position: fixed;
    margin-left: 60px;
    background-color: #940253;
    padding: 15px;
    border-radius: 10px;
    text-align: left;
    z-index: 99;
    display: none;
}

.index .content-section header nav a{
    display: block;
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px;
    font-weight: bold;
}

.index .content-section header .logo{
    font-weight: bold;
    font-size: 2.5rem;
    font-family: "Yellowtail";
    text-shadow: 0 0 25px #fff;
}

.index .content-section header .logo .color{
    color: #940253;
    font-family: "Yellowtail";
}

.index .content-section header .nav-bar{
    position: fixed;
    background-color: #940253;
    font-size: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    cursor: pointer;
    transition: .3s;
}

.index .content-section header .nav-bar:hover{
    box-shadow: 0 0 35px #fff;
}

.index .content-section .info{
    padding-bottom: 130px;
}

.index .content-section .info h1{
    font-size: 3rem;
    letter-spacing: 5px;
}

.index .content-section .info h2{
    font-weight: normal;
    font-size: 20px;
    margin-top: -10px;
    letter-spacing: 2px;
}

.index .content-section .info .networks a{
    display: inline-block;
    text-decoration: none;
    background-color: #000;
    color: #940253;
    border: 1px solid #940253;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 0 5px;
    transition: .3s;
}

.index .content-section .info .networks a:hover{
    box-shadow: 0 0 20px #fff;
}

.index .content-section .photo{
    position: relative;
}

.index .content-section .photo img{
    max-width: 200px;
    border-radius: 50%;
    border: 5px solid #940253;
    position: absolute;
    left: 50%;
    top: -100px;
    transform: translate(-50%);
}

.aboutme{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.aboutme .content-section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.aboutme .content-section h3{
    text-transform: uppercase;
    font-size: 30px;
}

.title-section{
    font-family: "Yellowtail";
    font-size: 1.5rem;
}

.aboutme .content-section .especial{
    color: #940253;
    font-weight: bold;
    margin-top: 15px;
}

.aboutme .content-section p{
    max-width: 700px;
    margin: auto;
    color: #666;
}

.aboutme .content-section .row{
    display: flex;
    margin-top: 30px;
    justify-content: space-between;
}

.aboutme .content-section .row .col{
    width: 30%;
}

.aboutme .content-section .row .col i{
    color: #940253;
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #940253;
    line-height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px #940253;
}

.aboutme .content-section .row .col span{
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

.skills{
    padding: 80px 0 100px 0;
    text-align: center;
    background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3)), url(img/habilidades.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    color: #fff;
}

.skills .content-section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.skills .content-section h3{
    text-transform: uppercase;
    font-size: 30px;
}

.skills .content-section .row{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.skills .content-section .row .col{
    width: 47%;
    text-align: left;
}

.skills .content-section .row .col .cont-bar{
    display: flex;
    align-items: center;
}

.skills .content-section .bar{
    display: flex;
    border: 1px solid #940253;
    padding: 2px;
    border-radius: 3px;
    margin-right: 10px;
}

.skills .content-section .bar .e{
    background-color: #363636;
    width: 20px;
    height: 30px;
    margin-right: 2px;
}

.resume{
    background-color: #e6e6e6;
    padding: 140px 0 100px 0;
    text-align: center;
}

.resume .content-section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.resume .content-section h3{
    text-transform: uppercase;
    font-size: 30px;
}

.resume .content-section .info{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.resume .content-section .info .col .title{
    display: inline-block;
    color: #940253;
    font-weight: bold;
    border: 2px solid #940253;
    padding: 10px;
    box-shadow: 0 0 10px #940253
}

.resume .content-section .info .col table{
    margin-top: 30px;
    border-collapse: collapse;
}

.resume .content-section .info .col table .data{
    width: 40%;
    border-bottom: 1px solid #bab9b9;
}

.resume .content-section .info .col table h4{
    margin-top: 10px;
}

.resume .content-section .info .col table h3{
    font-size: 20px;
    margin-bottom: 5px;
}

.resume .content-section .info .col table p{
    font-size: 14px;
}

.resume .content-section .info .col table .description{
    border-left: 1px solid #bab9b9;
    padding-left: 20px;
}

.contact{
    background-color: #202020;
    padding: 140px 0 100px 0 ;
    color: #e6e6e6;
    text-align: center;
}

.contact .content-section{
    max-width: 1000px;
    margin: auto;
    padding: 0 10px;
}

.contact .content-section h3{
    text-transform: uppercase;
}

.contact .content-section .row{
    display: flex;
    justify-content: space-around;
}

.contact .content-section .row .col{
    margin-top: 50px;
}

.contact .content-section .row .col h2{
    color: #940253;
}