@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, button, input{
    font-family: 'Ubuntu', sans-serif;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.crud_title{
    text-align: center;
}

.crud_form{
    display: flex;
    margin: 10px 0;
}

.form_input{
    flex: 1;
    padding: 5px;
    margin-right: 10px;
    font-size: 1rem;
}

.button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    transition: all 0.3s;
}

.button:hover{
    transform: scale(1.2);
}

.button--primary{
    background-color: #202C59;
    color: white;
}

.button--secondary{
    background-color: #FFC107;
    color: white;
}

.button--danger{
    background-color: #DC3545;
    color: white;
}

.crud_table{
    width: 100%;
    border-collapse: collapse;
}

.table_header, .table_body td{
    border: 1px solid #ccc;
    padding: 8px;
}

.table_header{
    background-color: #F0F0F0;
}

.table_body td:nth-child(3){
    display: flex;
    justify-content: space-around;
}